/* Base styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    width: 60%; /* Adjusted for better responsiveness */
    max-width: 1200px; /* Optional: set a max width to prevent it from growing too large on bigger screens */
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
    height: auto; /* Adjust height to auto for better content fit */
    color: var(--secondary);
    background-color: var(--primary);
    gap: 10px;
    padding: 10px 20px; /* Adjusted padding */
    border-radius: 5px;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.card-img {
    display: flex;
   float: inline-start; /* Center image for better alignment */
    width: 20%; /* Adjusted for responsiveness */
    height: 100px;
    overflow: hidden;
}

.card-img img {
    width: 100%; /* Responsive width */
    height: 150px; /* Maintain aspect ratio */
    object-fit: cover;
}

.card-information {
    padding-top: 5px;
    width: 65%; /* Adjusted for responsiveness */
    display: flex;
    flex-direction: column;
   
}

.card-control {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    padding-bottom: 15px;
}

.card-information p {
    font-size: 12px;
    margin-top: 5px;
}

/* Responsive styles */
@media (max-width: 1024px) {
    .card-container {
        width: 90%; /* Adjust for medium screens */
    }

    .card-img {
        width: 30%; /* Adjusted for medium screens */
    }

    .card-information {
        width: 65%; /* Adjusted for medium screens */
    }
    .card-img img{
        height: auto;
    }
}

@media (max-width: 768px) {
    .card-container {
        width: 95%; /* Full width on smaller screens */
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start */
    }

    .card-img {
        width: 100%;
        margin-bottom: 10px; /* Space between image and content */
    }

    .card-information {
        width: 100%; /* Full width for information section */
    }
    .card-img img{
        height: auto;
    }
}

@media (max-width: 480px) {
    .card-img img {
        width: 100%; /* Full width image */
    }

    .card-information p {
        font-size: 10px; /* Adjust font size for very small screens */
    }

    .card-control {
        flex-direction: column; /* Stack controls vertically on very small screens */
        align-items: flex-start; /* Align items to the start */
    }
    .card-img img{
        height: auto;
    }
}
