.container-watchedList {
  width: 80vw;
  min-height: 60vh;
  border-radius: 15px;
  background-color: var(--primary);
  margin: 50px auto;
  padding: 20px;
  color: var(--secondary);
}

.title-watchedList {
  font-size: 12px;
}

/* From Uiverse.io by vinodjangid07 */
.Btn {
  width: 140px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.089);
  cursor: pointer;
  background-color: transparent;
}

.leftContainer {
  width: 60%;
  height: 100%;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--primary) !important;
}

.leftContainer .like {

  font-weight: 600;
}

.likeCount {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--primary);
  justify-content: center;
  font-weight: 600;
  position: relative;
  background-color: white;
}

.likeCount::before {
  height: 8px;
  width: 8px;
  position: absolute;
  content: "";
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg);
  left: -4px;
}

.Btn:hover .leftContainer {
  background-color: var(--secondary) !important;
}

.Btn:active .leftContainer {
  background-color: var(--secondary) !important;
}

.Btn:active .leftContainer svg {
  transform: scale(1.15);
  transform-origin: top;
}

.head-watchedList {
  display: flex;
  justify-content: space-between;
}

/* From Uiverse.io by Daniel1227k */
.card {
  position: relative;
  width: 31%;
  height: 454px;
  background: var(--third);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg,#03a9f4,#ff0058);
  }
  
  .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(15deg,#03a9f4,#ff0058);
    filter: blur(30px);
  } */

.card b {
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.card img {
  position: absolute;
  z-index: 3;
  scale: 0.8;
  opacity: 0.25;
  transition: 0.5s;
}

.card:hover img {
  scale: 0.5;
  opacity: 0.9;
  transform: translateY(-70px);
}

.card .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
}

.card:hover .content {
  transform: scale(1);
  bottom: 25px;
}

.content .title {
  position: relative;
  color: var(--secondary);
  font-weight: 500;
  line-height: 1em;
  font-size: 1em;
  /* letter-spacing: 0.1em; */
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
}

.content .title span {
  font-weight: 300;
  font-size: 0.70em;
}

.content .sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}

.sci li {
  list-style: none;
}

.sci li .fa-brands {
  width: 14px;
}

.sci li .fa-facebook {
  width: 10px;
}

.sci li a {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.2);
  fill: currentColor;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: 0.5s;
}

.sci li a:hover {
  fill: currentColor;
  color: rgba(255, 255, 255, 1);
}

.watch-list-body {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
  padding: 20px;
  align-content: space-around;
  width: auto;

}

.watch-list-body div {
  margin-bottom: 10px;
}

.icon-watched {

  display: flex;
  align-items: center;
  justify-content: center;
}

/* @media (max-width:700px) {
  .container-watchedList {
    font-size: 15px;
  }

  .title-watchedList {
    font-size: 10px;
    text-align: center;
  }
} */
@media (max-width:1080px) {
  .card {
    width: 40%;
  }}
@media (max-width:880px) {
  .card {
    width: 40%;
  }}

@media (max-width:795px) {
  .card {
    width: 100%;
  }
}

@media (max-width:500px) {
  .container-watchedList {
    font-size: 15px;
    margin: 25px 89px;
    width: 74vw;
    font-size: 11px !important;
  }

  .count-watchlist {
    width: 100px;
  }

  .title-watched {
    font-size: 10px;
    text-align: center;
  }

  .card {
    position: relative;
    width: 325px;
    height: 238px;
    background: var(--third);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }

  .Btn {
    width: 93px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.089);
    cursor: pointer;
    background-color: transparent;
  }
}