@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Balsamiq Sans", sans-serif;
}

:root {
  --primary: #101820;
  --secondary: #FEE715;
  --third: hsl(211, 40%, 18%);
  --forth: #00a65a;
}

body {
  margin: 0;

  overflow-x: hidden;
  background-color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  cursor: pointer;
  position: relative;
  font-size: 17px;
  text-decoration: none;
  padding: .5em 1.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 900;
  color: rgb(255, 251, 251) !important;
  background-color: var(--forth);
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}
.btnControl{
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  padding: 5px;
  cursor: pointer;
}
